<% layout("./layouts/boilerplate") %>
<body>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }

  .taxinfo {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: .7rem;
    display: flex;
    /* flex-wrap: nowrap; */
    margin-left: 3rem;
    height: 2.5rem;
    align-items: center;
    padding: 1rem;
  }

</style>

    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
    
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-tents"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beaches</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boat House</p>
      </div>
      <div class="tax-toggle">
        <div class="form-check-reverse  form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display with the tax</label>
        </div>
      </div>
    </div>

    <div class = "row cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-xs-1 mt-3">
        <% for( let listing of allListings) {  %>
        <a class="listing-link" href="/listings/<%= listing.id%>">
        <div class="card col listing-card" >
             <img 
             src = "<%= listing.image.url %>" 
             alt="listing image"
             class="card-img-top"
             style="height: 20rem"
             >
             <div class="card-img-overlay"><i class="fa-regular fa-compass"></i></div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b>
                <br>
                <% if(listing.price) { %>
                &#8377;<%= listing.price.toLocaleString("en-IN") %> / Night
                <i class="taxinfo"> &nbsp; &nbsp;+18%GST</i>
                <% } else { %>
                  Price not available
                <% } %>
              </p>
            </div>
        </div>
        </a>
        <% } %>
    </div>

</body>

<script>
  let taxSwitch = document.getElementById('flexSwitchCheckDefault');
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("taxinfo");
    for (info of taxInfo) {
      if(info.style.display != "inline") {
        info.style.display = "inline";
      }
      else {
        info.style.display = "none";
      }
    }
  });
</script>